<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head'); -%>

    <body>
        <%- include('./partials/header'); -%>
            <%- include('./partials/admin_menu'); -%>
                <%- include('admin_breadcum'); -%>
                <!-- Contact Start -->
                <div class="container-fluid pt-5">
                    <div class="row">
                        <div class="col-2">
                            <%- include('./partials/admin_left_menu'); -%>
                        </div>
                        <div class="col-10">
                            <table style="width:100%;" id="myTable">
                                <thead>
                                    <tr>
                                        <th> Sr. </th> 
                                        <th> Name </th>                                        
                                        <th> Status </th>
                                        <th> Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% categories.forEach((item,index)=> {
                                        %>
                                        <tr>
                                            <td>
                                                <%= index+1 %>
                                            </td>                                            
                                            <td>
                                                <%= item.name %>
                                            </td>
                                            <td>
                                                <% if(item.status=="1"){ %>
                                                     Active
                                                <% } else { %>
                                                    Disable 
                                                <% } %>    
                                                
                                            </td>                                            
                                            <td> 

                                                <a href="/add_category?id=<%= item.id %>">
                                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                                </a>

                                                <a href="/delete_category?id=<%= item.id %>">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <% }); %>
                                <tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <!-- Contact End -->
                <%- include('./partials/footer'); -%>
    </body>



</html>