<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head'); -%>

<body>
    <%- include('./partials/header'); -%>
    <%- include('./partials/menu'); -%>
    
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>


   <!-- Page Header Start -->
   <div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Checkout</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Checkout Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
         <form method="post" id="paymentForm" name="paymentForm" style="display: inline-flex;"> -->
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>First Name</label>
                            <input class="form-control" type="text" name="name" id="name" value="<%= clientData.name%>">
                        </div>
                        <!-- <div class="col-md-6 form-group">
                            <label>Last Name</label>
                            <input class="form-control" type="text" placeholder="Doe">
                        </div> -->
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input class="form-control" type="text" text" name="email2" id="email2" disabled value="<%= clientData.email%>">
                            <input class="form-control" type="hidden" text" name="email" id="email" value="<%= clientData.email%>">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Mobile No</label>
                            <input class="form-control" type="text" text" name="mobile2" id="mobile2" disabled value="<%= clientData.mobile%>">
                            <input class="form-control" type="hidden" text" name="mobile" id="mobile" value="<%= clientData.mobile%>">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address Line 1</label>
                            <input class="form-control" type="text" text" name="address" id="address" value="<%= clientData.address%>">
                        </div>
                        <!-- <div class="col-md-6 form-group">
                            <label>Address Line 2</label>
                            <input class="form-control" type="text">
                        </div> -->
                        <!-- <div class="col-md-6 form-group">
                            <label>Country</label>
                            <select class="custom-select">
                                <option selected>United States</option>
                                <option>Afghanistan</option>
                                <option>Albania</option>
                                <option>Algeria</option>
                            </select>
                        </div> -->
                        <div class="col-md-6 form-group">
                            <label>City</label>
                            <input class="form-control" type="text" name="city" id="city" value="<%= clientData.city%>" >
                        </div>
                        <div class="col-md-6 form-group">
                            <label>State</label>
                            
                            <!-- <select class="custom-select">
                            <% Object.entries(States).forEach(([key, value]) => {   %>
                            %>  
                            <option value="<%= key %>"> <%= value %></option>

                            <% }) %>  
                            </select> -->

                            <select class="custom-select" name="state" id="state">
                                <!-- <%= States %> -->
                            <% for(key in States) {  
                            let selected = (key==clientData.state) ? 'selected' : '' ;
                            %>  
                            <option <%=selected %> value="<%= key %>"> <%= States[key] %></option>

                            <% } %>  
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>ZIP Code</label>
                            <input class="form-control" type="text" name="pincode" id="pincode" value="<%= clientData.pincode%>">
                        </div>
                        <!-- <div class="col-md-12 form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="newaccount">
                                <label class="custom-control-label" for="newaccount">Create an account</label>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="shipto">
                                <label class="custom-control-label" for="shipto"  data-toggle="collapse" data-target="#shipping-address">Ship to different address</label>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="collapse mb-4" id="shipping-address">
                    <h4 class="font-weight-semi-bold mb-4">Shipping Address</h4>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>First Name</label>
                            <input class="form-control" type="text" placeholder="John">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Last Name</label>
                            <input class="form-control" type="text" placeholder="Doe">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input class="form-control" type="text" placeholder="example@email.com">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Mobile No</label>
                            <input class="form-control" type="text" placeholder="+123 456 789">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address Line 1</label>
                            <input class="form-control" type="text" placeholder="123 Street">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address Line 2</label>
                            <input class="form-control" type="text" placeholder="123 Street">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Country</label>
                            <select class="custom-select">
                                <option selected>United States</option>
                                <option>Afghanistan</option>
                                <option>Albania</option>
                                <option>Algeria</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>City</label>
                            <input class="form-control" type="text" placeholder="New York">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>State</label>
                            <input class="form-control" type="text" placeholder="New York">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>ZIP Code</label>
                            <input class="form-control" type="text" placeholder="123">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Products</h5>
                        <!-- <div class="d-flex justify-content-between">
                            <p>Colorful Stylish Shirt 1</p>
                            <p>$150</p>
                        </div> -->
                        <%  cardItems.forEach((item)=> {   %>
                            <div class="d-flex justify-content-between">
                                <p><%= item.productName%></p>
                                <p><i class="fa fa-rupee"></i> <%= item.productPrice%></p>
                            </div>
                        <% })%>

                        <hr class="mt-0">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium"><i class="fa fa-rupee"></i> <%= cardTotal %></h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium"> <i class="fa fa-rupee"></i> <%= shipping %></h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold"><i class="fa fa-rupee"></i> <%= grandTotal %></h5>
                            <input type="hidden" name="grandTotal" id="grandTotal" value="<%= grandTotal %>">
                            <input type="hidden" name="cardTotal" id="cardTotal" value="<%= cardTotal %>">
                        </div>
                    </div>
                </div>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Payment</h4>
                    </div>

                    <!-- <div class="card-body">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" value="paypal" id="paypal">
                                <label class="custom-control-label" for="paypal">Paypal</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" value="directcheck" id="directcheck">
                                <label class="custom-control-label" for="directcheck">Direct Check</label>
                            </div>
                        </div>
                        <div class="">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" value="banktransfer" id="banktransfer">
                                <label class="custom-control-label" for="banktransfer">Bank Transfer</label>
                            </div>
                        </div>
                    </div> -->

                    <div class="card-footer border-secondary bg-transparent">                       

                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="termCondition" name="termCondition">
                            <label class="custom-control-label" for="termCondition">Term and Condition</label>                           
                        </div>

                        <!-- <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3" type="submit" onclick="return placeOrder();">Place Order</button> -->
                        <!-- <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3" type="submit" id="pay-button" name="pay-button">Place Order</button> -->

                        <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3" type="submit" id="pay-button" onclick="Pay()" >
                            Place Order
                        </button> 
                        
                    </div>
                </div>
            </div>
         </form>
    </div>
</div>
<!-- Checkout End -->


    <%- include('./partials/footer'); -%>



<script>
    let orderId ='';
    let Totalamount = 0;
    let amount = $('#grandTotal').val();    
    
    function GenrateOrderId(productId) {
    $.ajax({
    url: "razorpay/create/orderId",
    type: "post",    
    data: {
        amount: amount,    
    },
    //contentType: "application/json",
    success: function (response) {
    console.log('orderId : '+response.orderId); 
    orderId = response.orderId                                                
    amount = response.amount    
    console.log('Totalamount : '+amount);                                             
    },
    error: function(jqXHR, textStatus, errorThrown) {
    console.log(textStatus, errorThrown);
    }
    });       
    }

    GenrateOrderId();
</script>

<script>    
        // var options = {
        //     "key": "rzp_test_uR05WckzzLFDuY", 
        //     "amount":amount, 
        //     "currency": "INR",
        //     "name": "E-Shopper",
        //     "description": "",
        //     "image": "",
        //     "order_id": orderId,  
        //     "handler": function (response){
        //     console.log(response)
        //     console.log("razorpay_payment_id ::"+response.razorpay_payment_id);
        //     alert("This step of Payment Succeeded");
        //     },                
        //     "theme": {
        //     "color": "#2300a3"
        //     }
        // };
        // console.log('P amount :'+amount);
        // var razorpayObject = new Razorpay(options);
        // console.log(razorpayObject);
        // //console.log("razorpay_payment_id :"+razorpayObject.razorpay_payment_id);
        // razorpayObject.on('payment.failed', function (response){
        // console.log(response);
        // console.log("razorpay_payment_id"+response.razorpay_payment_id);

        // alert("This step of Payment Failed");
        // }); 
    
    // document.getElementById('pay-button').onclick = function(e){
    // razorpayObject.open(); 
    // e.preventDefault();
    // }


    function Pay(){
       event.preventDefault(); // cancel default behavior
       let name = $('#name').val();
       let email = $('#email').val();
       let mobile = $('#mobile').val();
       let address = $('#address').val();
       let city = $('#city').val();
       let state = $('#state').val();
       let pincode = $('#pincode').val();
       let grandTotal = $('#grandTotal').val();
       let chechPayemtDetailsStatuss = 0;
       //let payment = $('input[name="payment"]:checked').val();
       //let payment = $('input[name="payment"]:checked').val();
       

     if(!name){
         alert('Please Enter Your Name');
         return false;
     }
     if(!email){
         alert('Please Enter Your email');
         return false;
     }
     if(!mobile){
         alert('Please Enter Your mobile');
         return false;
     }
     if(!address){
         alert('Please Enter Your address');
         return false;
     }
     if(!city){
         alert('Please Enter Your city');
         return false;
     }
     if(!state){
         alert('Please Enter Your state');
         return false;
     }
     if(!pincode){
         alert('Please Enter Your pincode');
         return false;
     }

     if(grandTotal=='' || grandTotal==0 || grandTotal=='0'){
         alert('Amount is 0 cant process further.');
         return false;
     }

    //  if(!payment){
    //      alert('Please Select Payment Type');
    //      return false;
    //  }

    if ($('#termCondition').is(':checked')) {        
    }else{
        alert('Please accept Term and condition');
        return false;
    }

     //var paymentFormData = $("#paymentForm").serialize();
     //console.log('paymentFormData'+paymentFormData);
     //return false;

     let chechPayemtDetailsStatus = checkPayemtDetails();
     
    //  console.log('chechPayemtDetailsStatus'+chechPayemtDetailsStatus);

    //  if(chechPayemtDetailsStatus==1) {
    //  let confirmStatus = confirm("You will be Redirect to Payment page do not Refresh or Back button");
    //         if(confirmStatus) {
    //             var options = {
    //                 "key": "rzp_test_uR05WckzzLFDuY", 
    //                 "amount":amount, 
    //                 "currency": "INR",
    //                 "name": "E-Shopper",
    //                 "description": "",
    //                 "image": "",
    //                 "order_id": orderId,  
    //                 //"callback_url": "http://localhost:3001/paymentStatus",
    //                // "callback_method": "get",
    //                 "handler": function (response){
    //                 console.log(response)
    //                 console.log("razorpay_payment_id ::"+response.razorpay_payment_id);
    //                 console.log("razorpay_order_id ::"+response.razorpay_order_id);
    //                 console.log("razorpay_signature ::"+response.razorpay_signature);
    //                 alert("This step of Payment Succeeded");
    //                 },                
    //                 "theme": {
    //                 "color": "#2300a3"
    //                 }
    //             };
                
    //             console.log('P amount :'+amount);
    //             var razorpayObject = new Razorpay(options);
    //             console.log(razorpayObject);
    //             //console.log("razorpay_payment_id :"+razorpayObject.razorpay_payment_id);
    //             razorpayObject.on('payment.failed', function (response){
    //             console.log(response);
    //             console.log("razorpay_payment_id"+response.razorpay_payment_id);

    //             alert("This step of Payment Failed");
    //             });    
    //             razorpayObject.open(); 
    //             e.preventDefault();

    //             //  $.ajax({
    //             //  url: "placeOrder",
    //             //  data:paymentFormData,
    //             //  type: "post",   
    //             //  success: function (response) {
    //             //      console.log(response); 
    //             //      let status = response.status;                                  
    //             //      let msg = response.msg; 
    //             //      alert(msg);                                  
    //             //  },
    //             //  error: function(jqXHR, textStatus, errorThrown) {
    //             //  console.log(textStatus, errorThrown);
    //             //  }
    //             //  });
    //         }
     
    //   }else{
    //     alert('Invalid Details');
    //   }
    } 

    
    function checkPayemtDetails(){
        console.log('checkPayemtDetails');
       // e.preventDefault();
        let paymentFormData = $("#paymentForm").serialize();       
         $.ajax({
         url: "checkPayemtDetails",
         data:paymentFormData,
         type: "post",   
         success: function (response) {
             console.log(response); 
             if(response.status==1) {
                chechPayemtDetailsStatus = response.status; 
                console.log('chechPayemtDetailsStatus  : '+chechPayemtDetailsStatus )
                goToPaymentGatway();  
             } else {          
                    alert('Invalid Details');    
             }
        },
         error: function(jqXHR, textStatus, errorThrown) {
         console.log(textStatus, errorThrown);
         }
         });
    }
    
    function goToPaymentGatway() {
        console.log('goToPaymentGatway');
        if(chechPayemtDetailsStatus==1) {
            let confirmStatus = confirm("You will be Redirect to Payment page do not Refresh or Back button");
            if(confirmStatus) {
                var options = {
                    "key": "rzp_test_uR05WckzzLFDuY", 
                    "amount":amount, 
                    "currency": "INR",
                    "name": "E-Shopper",
                    "description": "",
                    "image": "",
                    "order_id": orderId,  
                    //"callback_url": "http://localhost:3001/paymentStatus",
                   // "callback_method": "get",
                    "handler": function (response){
                    console.log(response);
                    let paymentId = response.razorpay_payment_id;
                    console.log("razorpay_payment_id ::"+paymentId);
                    console.log("razorpay_order_id ::"+response.razorpay_order_id);
                    console.log("razorpay_signature ::"+response.razorpay_signature);
                    //alert("This step of Payment Succeeded");
                    updateDetailsAfterPayment(paymentId);
                    },                
                    "theme": {
                    "color": "#2300a3"
                    }
                }; 
                var razorpayObject = new Razorpay(options);
                console.log(razorpayObject);
                //console.log("razorpay_payment_id :"+razorpayObject.razorpay_payment_id);
                razorpayObject.on('payment.failed', function (response){
                console.log(response);
                console.log("razorpay_payment_id"+response.razorpay_payment_id);

                alert("This step of Payment Failed");
                });    
                razorpayObject.open(); 
                e.preventDefault();                
            }
        } 
    }
    
    function updateDetailsAfterPayment(paymentId) {
        console.log('updateDetailsAfterPayment');
        let paymentFormData = $("#paymentForm").serialize();
        paymentFormData +="&paymentId="+paymentId;
         $.ajax({
                 url: "updateDetailsAfterPayment",
                 data:paymentFormData,
                 type: "post",   
                 success: function (response) {
                     console.log(response); 
                     let status = response.status;                                  
                     let msg = response.msg; 
                     alert(msg);  
                     let url ='checkout';
                     //redirect(url);                                
                 },
                 error: function(jqXHR, textStatus, errorThrown) {
                 console.log(textStatus, errorThrown);
                 }
        });
    }

    function PayOld(){ 

        var options = {
            "key": "rzp_test_uR05WckzzLFDuY", 
            "amount":amount, 
            "currency": "INR",
            "name": "E-Shopper",
            "description": "",
            "image": "",
            "order_id": orderId,  
            "handler": function (response){
            console.log(response)
            console.log("razorpay_payment_id ::"+response.razorpay_payment_id);
            alert("This step of Payment Succeeded");
            },                
            "theme": {
            "color": "#2300a3"
            }
        };

        console.log('P amount :'+amount);
        var razorpayObject = new Razorpay(options);
        console.log(razorpayObject);
        //console.log("razorpay_payment_id :"+razorpayObject.razorpay_payment_id);
        razorpayObject.on('payment.failed', function (response){
        console.log(response);
        console.log("razorpay_payment_id"+response.razorpay_payment_id);

        alert("This step of Payment Failed");
        });    
        razorpayObject.open(); 
        e.preventDefault();
    }
    
   
    </script>

   
</body>

</html>